/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.single-format-video .newsx-single-post-media {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 aspect ratio */
   height: 0;
   overflow: hidden;
   max-width: 100%;
   background: #000;
 }
 
.single-format-video .newsx-single-post-media iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}

.single-format-gallery .newsx-single-post-media .format-gallery-wrapper {
   position: relative;
}
 
.single-format-gallery .newsx-single-post-media .thumbs-gallery-wrapper {
   margin-top: 10px;
}

.single-format-gallery .newsx-single-post-media .thumbs-gallery img {
   opacity: 0.7;
   cursor: pointer;
}

.single-format-gallery .newsx-single-post-media .thumbs-gallery img:hover,
.single-format-gallery .newsx-single-post-media .swiper-slide-thumb-active img {
   opacity: 1;
}

.newsx-weather-error {
   padding: 20px;
   margin: 20px 0;
   border: 1px dashed red;
}

.newsx-site-header .newsx-weather-error {
   padding: 5px;
   margin: 5px;
}